In [10]:
import pandas as pd
import csv
from sqlalchemy import create_engine

In [11]:
df = pd.read_csv('WishtrendBestsellersFinal.csv', nrows=50)

In [12]:
# Remove dollar sign and convert to float
df['current_price'] = df['current_price'].str.replace('$', '').astype(float)
df['original_price'] = df['original_price'].str.replace('$', '').astype(float)
df['discount_percent'] = df['discount_percent'].str.replace('%','').astype(float)

In [13]:
engine = create_engine('postgresql://hope:hope@localhost:5432/SKincare-pipeline')

In [14]:
# checking database connection
engine.connect()

In [15]:
print(pd.io.sql.get_schema(df, name='Wishtrend_bestsellers', con=engine))

CREATE TABLE "Wishtrend_bestsellers" (
	brand TEXT,
	name TEXT,
	current_price FLOAT(53),
	original_price FLOAT(53),
	discount_percent FLOAT(53)
)

In [16]:
# for large datasets, pandas function iterator chunks the rows into batches

# df_iter = pd.read_csv('Wishtrend_bestsellers', iterator=True, chunksize=100000)

In [17]:
df.head()

,brand,name,current_price,original_price,discount_percent
0,Klairs,All-day Airy Sunscreen,12.6,21.0,40.0
1,Klairs,Midnight Blue Calming Cream,12.5,25.0,50.0
2,Klairs,Supple Preparation Unscented Toner,13.2,22.0,40.0
3,By Wishtrend,Cera-barrier Soothing Ampoule,15.4,28.0,45.0
4,I'M FROM,Mugwort Essence,26.0,40.0,35.0

In [18]:
df.to_sql(name='SKincare-pipeline', con=engine, if_exists='replace')

46